@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        @apply bg-black;
    }

    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background: rgb(122, 121, 136);
    background: linear-gradient(171deg, rgba(122, 121, 136, 1) 0%, rgba(162, 96, 34, 1) 100%, rgba(230, 125, 20, 1) 100%) !important
}